<section>
    {{!-- CARDS MAJOR --}}
    
    {{> Section/Page/cards}}

    {{!-- КОМПЛЕКС УСЛУГ PAGE STARTING --}}
    <div class="uslugi-page">
        <div class="Ellipse21"></div>
       
        <h1 class="title-page">КОМПЛЕКС УСЛУГ</h1>
        <div class="container ">
             <div class="Ellipse20"></div>
            <div class="row">
                <div class="col-12 box">
                    <div class="row justify-content-center align-items-start align-items-xl-center">
                        <div class="col-12  col-sm-10 m-auto m-lg-inherit col-lg-6">
                            <h2>Реклама и продвижение в Google и Яндекс </h2>
                            <p>Контекстная реклама актуальна для новых сайтов, т.к. они еще не успели занять хорошие
                                позиции в органической выдаче. Если сайт уже находится в поиске, рекламный трафик будет
                                являться дополнительным источником привлечения лидов.</p>
                            <div class="price">
                                <ul> 
                                    {{#each priceTechData}}
                                     <li> <s>{{this.title}} </s >
                                    <span>
                                        от  <text class="formatPrice">{{this.price}}</text> сум
                                    </span></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12  col-sm-10 m-auto m-lg-inherit col-lg-6 text-center text-sm-start text-lg-end">
                            <img class="img-fluid" src="/images/Section/чел для сайта 1 (1).png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 box">
                    <div class="row flex-lg-row-reverse align-items-start align-items-xl-center">
                        <div class="col-12  col-sm-10 m-auto m-lg-inherit col-lg-6">
                            <h2>Реклама и продвижение в соцсетях (SMM)</h2>
                            <p>Создаем и развиваем сайты с высокой конверсией, которые легко вывести в ТОП. Полностью
                                ведем проект или помогаем команде на стороне клиента.</p>
                            <div class="price">
                                <ul>
                                   {{#each priceDesignData}}
                                     <li> <s>{{this.title}} </s >
                                    <span >
                                        от  <text class="formatPrice">{{this.price}}</text> сум
                                    </span></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12  col-sm-10 m-auto m-lg-inherit col-lg-6 text-center text-sm-start ">
                            <img class="img-fluid" src="/images/Section/чел для сайта 1 (1).png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 box">
                    <div class="row align-items-start align-items-xl-center">
                        <div class="col-12  col-sm-10 m-auto m-lg-inherit col-lg-6">
                            <h2>Создание сайтов</h2>
                            <p>Контекстная реклама актуальна для новых сайтов, т.к. они еще не успели занять хорошие
                                позиции в органической выдаче. Если сайт уже находится в поиске, рекламный трафик будет
                                являться дополнительным источником привлечения лидов.</p>
                            <div class="price">
                                <ul>
                                 {{#each priceSmmData}}
                                    <li> <s>{{this.title}} </s >
                                    <span >
                                        от  <text class="formatPrice">{{this.price}}</text> сум
                                    </span></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12  col-sm-10 m-auto m-lg-inherit col-lg-6 text-center text-sm-start text-lg-end">
                            <img class="img-fluid" src="/images/Section/чел для сайта 1 (1).png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- ПРЕИМУЩЕСТВА КОМПАНИИ --}}
    <div class="preiumushustva-page">
        <h1 class="title-page">ПРЕИМУЩЕСТВА КОМПАНИИ</h1>
        <div class="Ellipse9"></div>
        <div class="container">
            <div class="row  justify-content-center justify-content-xl-around">
                <div class="col-12 col-sm-10 col-xl-4 box center">
                    <div class="ellipse3 center">
                        <div class="ellipse2 center">
                            <div class="ellipse center">
                                <span>Качество</span>

                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <img src="/images/Section/Line 1.png" alt="line">
                        <p>Помимо качесвтенной съёмки, мы предоставляем моделей для съёмок, которые будут
                            демонстрировать и продвигать Ваш бизнес</p>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-xl-4 box center">
                    <div class="ellipse3 center">
                        <div class="ellipse2 center">
                            <div class="ellipse center">
                                <span>Выгода</span>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <img src="/images/Section/Line 1.png" alt="line">
                        <p>Помимо качесвтенной съёмки, мы предоставляем моделей для съёмок, которые будут
                            демонстрировать и продвигать Ваш бизнес</p>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-xl-4 box center">
                    <div class="ellipse3 center">
                        <div class="ellipse2 center">
                            <div class="ellipse center">
                                <span>Подход</span>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <img src="/images/Section/Line 1.png" alt="line">
                        <p>Помимо качесвтенной съёмки, мы предоставляем моделей для съёмок, которые будут
                            демонстрировать и продвигать Ваш бизнес</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> Section/Page/nashi-client }}
    {{> Section/Page/sendMessage }}

</section>